@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
    font-family: "Manrope", sans-serif;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* status section */
.status_content{
    position: relative;
}
.status_content::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    width: 2px;
    background-color: rgba(256, 256, 256, 0.4);
}

.status_content:last-child::after{
    display: none;
}

.title{
    font-size: 48px;
    color: #101727;
    font-weight: 800;
}

.pricing_box{
    position: relative;
}

.pricing_box .price_status{
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.product_card{
    position: relative;
}

.product_status{
    position: absolute;
    right: 10px;
    top: 10px;
}

.nav_carts{
    position: relative;
    display: inline-block;
}

.nav_carts span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: #FF3980;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -5px;
}



/* responsive code for mobile device */
@media (max-width: 991px){
    .banner-P br{
        display: none;
    }
    .status_content::after{
        display: none;
    }
    .title{
        font-size: 30px;
    }
    .ready_content h2{
        font-size: 30px;
    }
}